<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=yes">
        <meta name="description" content="">
        <meta name="author" content="IMDA">
        
        <title>SHN Reporting App</title>
        <meta property="og:site_name" content="Stay-Home-Notice Reporting App">
        <meta property="og:title" content="Stay-Home-Notice Reporting App">
    
        <meta name="description" content="A mobile app for SHN assignees to comply with their Stay-Home-Notice. Download now on Google Play and App Store.">
        <meta property="og:description" content="A mobile app for SHN assignees to comply with their Stay-Home-Notice. Download now on Google Play and App Store.">
        <meta property="og:description:secure_url" content="A mobile app for SHN assignees to comply with their Stay-Home-Notice. Download now on Google Play and App Store.">
        <meta property="og:image" itemprop="image" content="/image-ad.png">
        <meta property="og:image:secure_url" itemprop="image" content="/image-ad.png">
        <style>
            body {
                font-family: 'Montserrat';
            }
            .links {
                text-align: center;
            }
            .links a {
                color: black;
            }
            .p-center {
                margin-left: auto;
                margin-right: auto;
                max-width: 1000px;
                float: none;
            }
        </style>
    </head>

    <body>
        <div>
            <table class="p-center">
                <tr>
                    <td colspan="5">
                        <img src="./app-ad.png">
                    </td>
                </tr>
                <tr class="links">
                    <td><a href="https://play.google.com/store/apps/details?id=sg.gov.imda.shn">Google Play</a></td>
                    <td><a href="https://apps.apple.com/sg/app/shn-reporting/id1499970706">App Store</a></td>
                    <td><a href="./privacy.html">Privacy Statement</a></td>
                    <td><a href="./terms.html">Terms of Use</a></td>
                    <td><a href="mailto:Digital_Services@imda.gov.sg?subject=SHN Reporting App">Contact Us</a></td>
                </tr>
            </table>
        </div>
    </body>

</html>