<html lang="en">

<head>
  <title>SHN Reporting Privacy Statement</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Montserrat';
      font-size: 16;
      /*background-image: linear-gradient(90deg, #e3342d, #73368b);*/
    }
    .pad-l-30 {
      padding-left: 30px;
    }
    .pad-r-50 {
      padding-right: 50px;
    }
    .top-title {
      height: 80px;
      line-height: 80px;
    }
    .left {
      text-align: start;
    }
  </style>
</head>

<body>
  <center>
    <div class="pad-l-30 pad-r-50 left">
      
      <img src="./logo-imda-color-alpha.png" width=240px>

      <h1>Privacy Statement</h1>
      <ol>
        <li>
          &emsp;&emsp;
          The downloading and installation of the mobile application is voluntary and controlled entirely by the user of the mobile phone.
        </li>

        <br><li>
          &emsp;&emsp;
          If you install this mobile application, you consent to the collection and sending of network information by the application periodically in the background to IMDA. You also consent that IMDA may share such network information with other public agencies. The data collected will be anonymised. We DO NOT capture personal data that allows us to identify you individually.
        </li>

        <p>For details of what data IMDA will be collecting, please refer to the following website:
        <a href="./about-data.html">
          https://locationreport.gov.sg/about-data.html</a></p>

        <li> 
          &emsp;&emsp;
          To safeguard the data, all electronic storage and transmission of data are secured with appropriate security technologies.
        </li>

        <br><li> 
          &emsp;&emsp;
          Please contact
          <a href="mailto:info@imda.gov.sg">
            info@imda.gov.sg</a> for any enquires or feedback. 
        </li>
      </ol>
 
      <p><b>This version of the Privacy Statement is dated 03 Mar 2020</b></p>
    </div>
  </center>
</body>

</html>