<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=yes">
        <meta name="description" content="">
        <meta name="author" content="IMDA">
        
        <title>SHN Reporting App</title>
        <meta property="og:site_name" content="Stay-Home-Notice Reporting App">
        <meta property="og:title" content="Stay-Home-Notice Reporting App">
    
        <meta name="description" content="A mobile app for SHN assignees to comply with their Stay-Home-Notice. Download now on Google Play and App Store.">
        <meta property="og:description" content="A mobile app for SHN assignees to comply with their Stay-Home-Notice. Download now on Google Play and App Store.">
        <meta property="og:description:secure_url" content="A mobile app for SHN assignees to comply with their Stay-Home-Notice. Download now on Google Play and App Store.">
        <meta property="og:image" itemprop="image" content="/image-ad.png">
        <meta property="og:image:secure_url" itemprop="image" content="/image-ad.png">
        <style>
            body {
                font-family: 'Montserrat';
            }
            .links {
                text-align:center;
            }
        </style>
    </head>

    <body>
        <center>
            <table>
                <tr>
                    <td colspan="3">
                        <img src="./app-ad.png">
                    </td>
                </tr>
                <tr class="links">
                    <td><a href="#">Google Play</a><br>(Coming soon)</td>
                    <td><a href="#">App Store</a><br>(Coming soon)</td>
                    <td><a href="./privacy.html">Privacy Statement</a></td>
                </tr>
            </table>
        </center>
    </body>

</html>